<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>

</head>
<body>
    <div class="node">
    <ul>
                   
        <% for (let i of name) { %> 
            
            <li>
                <p><%= i.name %></p>
                <p><%= i.phone %></p>
            </li>
            
        <% } %>
    </ul>
</div>
    <form action="/contact" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="number" name="phone" placeholder="Phone">
        <button type="submit">Add Contact</button>
    </form>

      <!-- <form action="/create" method="POST">
            <input type="text" name="name" placeholder="Enter name" required>
            <input type="number" name="phone" placeholder="Enter phone" required>
            <button type="submit">Add contact</button>
        </form> -->
</body>
</html>